@import '../../static';
.popup{
    background-color: $bg1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top:0;
}